<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0"/>
    <httpRuntime/>
    <urlMappings enabled="true">
      <add url="~/target" mappedUrl="~/sc2ff.ashx"/>
    </urlMappings>
  </system.web>

  <appSettings>

    <!-- General SIB Configuration parameters -->
    <add key="SIBLogfilepath" value ="c:\siblogfile.log" />

    <!-- Configuration parameters for Source -->
    <add key="SIBSourceSAMLSignatureElement" value ="ds:Signature" />
    <add key="SIBSourceSAMLAttributeElement" value ="saml2:Attribute" />

    <!-- Configuration parameters for Target -->

    <!-- URL for transformed data target submission -->
    <add key="SIBTargetRedirectURL" value="http://google.com/" />
    <!-- Cipher type for target, possible options are HASH, SYMM (Symmetrical),  - future ASYM, (Asymmetrical) -->
    <add key="SIBTargetCipherType" value ="HASH" />
    <!-- Cipher for target, possible options are MD5, AES256, - future SHA1, SHA256, RC4, DES, DES3 -->
    <add key="SIBTargetCipher" value ="MD5" />
    <!-- Encoding approach for non-printable values, possible options are HEX, BASE64 -->
    <add key="SIBTargetCipherEncoding" value ="HEX" />
    <!-- Cipher Iterations for target, only applicable to HASH ciphers -->
    <add key="SIBTargetCipherIterations" value ="1" />
    <!-- Cipher key used for target (random string of chracters that varies based on algorithm) -->
    <add key="SIBTargetCipherKey" value ="Iamatestsharedkeyimustbereplacedbytherealsharedkey" />
    <!-- attributes passed to target application, resolves to mapped or raw source attributes (in that order of resolution)-->
    <!-- use "SIBTargetHashParameters" to create a hash to add to parameters -->
    <add key="SIBTargetParameters" value ="appvariable=ExternalPatientID;userid=UserName;psw=SIBTargetHashParameters;datetimestamp=SIBTargetTimestamp" />
    <!-- Use "SIBTargetCipherKey" to include secret key in hash -->
    <add key="SIBTargetHashParameters" value ="ExternalPatientID;UserName;SIBTargetCipherKey;SIBTargetTimestamp" />
    <!-- Specifies UTC timezone versus local server time -->
    <add key="SIBTargetTimestampUTC" value ="true" />
    <!-- How to send the information to the target; HTTP(s) GET or POST-->
    <add key="SIBTargetRequestType" value ="get" />

  </appSettings>
</configuration>