<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0"/>
    <httpRuntime/>
    <urlMappings enabled="true">
      <add url="~/target" mappedUrl="~/sibff.ashx"/>
    </urlMappings>
  </system.web>

  <appSettings>

    <!-- General SIB Configuration parameters -->
    <add key="SIBLogfilepath" value ="c:\siblogfile.log" />
    <add key="SIBAttributeMap" value ="UserName;userid" />
    <add key="SIBAttributeMap" value ="ExternalPatientID;mrn" />

    <!-- Configuration parameters for Source -->
    <add key="SIBSourceSAMLSignatureElement" value ="ds:Signature" />
    <add key="SIBSourceSAMLAttributeElement" value ="saml2:Attribute" />

    <!-- Configuration parameters for Target -->

    <!-- URL for transformed data target submission -->
    <add key="SIBTargetRedirectURL" value="http://google.com/" />
    <!-- Cipher type for target, possible options are HASH, SYMM (Symmetrical),  - future ASYM, (Asymmetrical) -->
    <add key="SIBTargetCipherType" value ="SYMM" />
    <!-- Cipher (Algorithm) for target, possible options are MD5, AES256, - future SHA1, SHA256, RC4, DES, DES3 -->
    <add key="SIBTargetCipher" value ="AES256" />
    <!-- Cipher key used for target (random string of chracters that varies based on algorithm) -->
    <add key="SIBTargetCipherKey" value ="SL94lATiyuaCo4sWZg1ECz5xMTD78yR9" />
    <!-- attributes passed to target application, resolves to mapped or raw source attributes (in that order of resolution)-->
    <!-- use "SIBTargetHashParameters" to create a hash to add to parameters -->
    <add key="SIBTargetParameters" value ="userid;mrn;SIBTargetHashParameters;practicecode" />
    <!-- Use "SIBTargetCipherKey" to include secret key in hash -->
    <add key="SIBTargetHashParameters" value ="userid;mrn;TargetCipherKey;practicecode" />
    <!-- true generates timestamp and adds it to the attributes passed to target - occurs prior to encryption-->
    <add key="SIBTargetTimestamp" value ="true" />
    <add key="SIBTargetTimestampKey" value ="timestamp" />

  </appSettings>
</configuration>